@using Northwind.Models
@model ProductDetailViewModel;

<style>
    .back {
        border-radius: 25px;
    }

    .btn:hover {
        background-color: rgba(130, 130, 130, 0.19);
    }

    .no-decoration {
        color: blue;
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="d-none" id="hasPurchased" data-haspurchased="@Model.hasPurchased"></div>
    <button class="btn back" action="action" onclick="window.history.go(-1); return false;" type="submit">
        <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>

    <div class="">
        <h1 id="product-id" class="d-inline-block" data-id="@Model.Product.ProductId">@Model.Product.ProductName</h1>
        <h3 class="float-right">@Math.Round(Model.Product.UnitPrice, 2).ToString("C")</h3>
    </div>

    <hr>

    <div>
        <h3 class="mb-0 d-inline-block">Reviews</h3>&nbsp;
        @if (User?.Identity?.IsAuthenticated ?? true)
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right" id="addReviewButton" data-id="@Model.Product.ProductId" data-name="@User.Identity.Name">
                Add Review
            </button>
            <!-- Modal -->
            <div class="modal fade" id="add-review-modal" tabindex="-1" aria-labelledby="add-modal-label"
            aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-modal-label">Create Review for: @Model.Product.ProductName</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div id="form-error" style="color:red;"></div>
                                @* Does not display Model Validation Erros *@
                                <input class="d-none" id="rating-input" value="10">
                                <div class="form-group">
                                    <label>Rating</label><br>
                                    <span class="review-stars" id="review-new" data-rating="10" data-interactive="true">
                                        <i class="far fa-star rate-popover" data-value="2"></i>
                                        <i class="far fa-star rate-popover" data-value="4"></i>
                                        <i class="far fa-star rate-popover" data-value="6"></i>
                                        <i class="far fa-star rate-popover" data-value="8"></i>
                                        <i class="far fa-star rate-popover" data-value="10"></i>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <textarea class="form-control" id="comment"
                                    rows="3"></textarea>
                                    
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" id="addReview" type="submit">Add Review</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        }
    </div>

    <br>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div id="reviews-header-btn" class="btn card-header" id="headingOne" action="action" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="d-inline-block float-left" style="z-index: 2;">
                    <span class="review-stars" id="reviews-avg" data-rating="@Model.AverageRating" data-interactive="false">
                        <i class="far fa-star rate-popover" data-value="2"></i>
                        <i class="far fa-star rate-popover" data-value="4"></i>
                        <i class="far fa-star rate-popover" data-value="6"></i>
                        <i class="far fa-star rate-popover" data-value="8"></i>
                        <i class="far fa-star rate-popover" data-value="10"></i>
                    </span>
                    <span>
                        (@Model.Reviews.Count())
                    </span>
                </div>
                <div class="float-right">
                    @* <button class="btn back" action="action" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">   
                    </button> *@
                    <i id="chevron" class="animated-icon fas fa-chevron-up"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse" style="background-color: rgba(207, 148, 47, 0.1)" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div id="reviews" class="card-body"></div>
            </div>
        </div>
    </div>
    <br>

