@using Northwind.Models
@model ProductDetailViewModel;

<style>
    .back {
        border-radius: 25px;
    }

    .btn:hover {
        background-color: rgba(130, 130, 130, 0.19);
    }

    .no-decoration {
        color: blue;
        text-decoration: none;
    }
</style>

@section scripts {
<script>
    // Code fore getting all reviews from api
    // url: api/product/{ProductId}/reviews
    $(() => {
        getReviews();
        function getReviews() {
            let productId = $('#product-id').data('id');
            $.getJSON({
                url: `../../api/product/${productId}/reviews`,
                success: function (res, status, jqXhr) {
                    let output = "Error processing reviews...";
                    let review_container = $('#reviews');
                    
                    if (res.length == 0) {
                        output = `
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        No reviews yet...
                                    </div>
                                    <p class="card-text">
                                        Logon and purchase this item to leave a review!
                                    </div>
                                </div>
                            </div>
                        `;
                        review_container.html(output);
                    } else {
                        for (let i = 0; i < res.length; i++) {
                            let review = res[i];
                            output = `
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <span class="review-stars" id="review-${review.ratingId}" data-rating="${review.rating}" data-interactive="false">
                                                <i class="far fa-star rate-popover" data-value="2"></i>
                                                <i class="far fa-star rate-popover" data-value="4"></i>
                                                <i class="far fa-star rate-popover" data-value="6"></i>
                                                <i class="far fa-star rate-popover" data-value="8"></i>
                                                <i class="far fa-star rate-popover" data-value="10"></i>
                                            </span>
                                            <span>&nbsp;|&nbsp;${review.name}</span>
                                        </div>
                                        <p class="card-text">
                                            ${review.comment}
                                        </div>
                                    </div>
                                </div>
                            `;
                            review_container.append(output);
                            setStars($(`#review-${review.ratingId}`), review.rating);
                        }
                    }
                },
                error: function (jqXHR, status, err) {
                    console.log("Error while getting reviews: " + status, err);
                }
            });
        }
    });
</script>
}

<div class="container">

    <button class="btn back" action="action" onclick="window.history.go(-1); return false;" type="submit">
        <i class="fas fa-long-arrow-alt-left fa-2x"></i>
    </button>

    <div class="">
        <h1 id="product-id" class="d-inline-block" data-id="@Model.Product.ProductId">@Model.Product.ProductName</h1>
        <h3 class="float-right">$@Math.Round(Model.Product.UnitPrice, 2)</h3>
    </div>

    <hr>

    <div>
        <h3 class="mb-0 d-inline-block">Reviews</h3>&nbsp;
        @if (User?.Identity?.IsAuthenticated ?? true)
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#add-review-modal">
                Add Review
            </button>
            <!-- Modal -->
            <div class="modal fade" id="add-review-modal" tabindex="-1" aria-labelledby="add-modal-label"
            aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add-modal-label">Create Review for: @Model.Product.ProductName</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" asp-action="AddReview">
                                <div asp-validation-summary="All" style="color:red;"></div>
                                <div class="form-group">
                                    <label asp-for="@Model.Review.Rating">Rating</label>
                                    <select asp-for="@Model.Review.Rating">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Review.Comment" for="comment">Comment</label>
                                    <textarea asp-for="@Model.Review.Comment" class="form-control" id="comment"
                                    rows="3"></textarea>
                                    
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" asp-controller="Product" asp-action="AddReview" asp-route-id="@Model.Product.ProductId" type="submit">Add Review</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        }
    </div>

    <br>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div id="reviews-header-btn" class="btn card-header" id="headingOne" action="action" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="d-inline-block float-left" style="z-index: 2;">
                    <span class="review-stars" data-rating="@Model.AvgRating()" data-interactive="false">
                        <i class="far fa-star rate-popover" data-value="2"></i>
                        <i class="far fa-star rate-popover" data-value="4"></i>
                        <i class="far fa-star rate-popover" data-value="6"></i>
                        <i class="far fa-star rate-popover" data-value="8"></i>
                        <i class="far fa-star rate-popover" data-value="10"></i>
                    </span>
                    <span>
                        (@Model.Reviews.Count())
                    </span>
                </div>
                <div class="float-right">
                    @* <button class="btn back" action="action" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">   
                    </button> *@
                    <i id="arrow-up" class="d-none fas fa-chevron-up"></i>
                    <i id="arrow-down" class="fas fa-chevron-down"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse" style="background-color: rgba(207, 148, 47, 0.1)" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div id="reviews" class="card-body"></div>
            </div>
        </div>
    </div>
    <br>
